@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap");
:root {
    --adjust-size: 0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}
body {
    position: relative;
    color: #222;
    font-family: "Kalam", sans-serif;
    overflow-x: hidden;
    background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMyOTE2OTh8&ixlib=rb-4.0.3&q=100&w=3000");
    background-size: cover;
}

